go 1.25.0

use (
	backend/cloud-gateway
	backend/parking-fee-service
	gen
	mock/companion-app-cli
	mock/parking-app-cli
	mock/parking-operator
	tests/databroker
	tests/locking-service
	tests/mock-apps
	tests/parking-operator-adaptor
	tests/setup
)
